/* blog list CSS
-------------------------------------------------- */

.sort-span {
    padding-left: 0.5em;
}

.sort-item {
    display: inline-block;
}

.sort-buttom {
    font-size: 14.5px;
}

.tag-span {
    display: block;
}