/* blog right CSS
-------------------------------------------------- */

.padding-inside-15px {
    padding-right: 15px;
    padding-left: 15px;
}

.p-auto {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0.2em;
}