[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.1.7"
django-allauth = "*"
django-crispy-forms = "*"
reversion = "*"
future = "*"
django-reversion = "*"
django-formtools = "*"
xlwt = "*"
xlsxwriter = "*"
httplib2 = "*"
six = "*"
django-import-export = {index = "https://pypi.tuna.tsinghua.edu.cn/simple",version = "==1.2.0"}

[requires]
python_version = "3.6"
