{% extends 'blog/blog-right.html' %}
{% load staticfiles %}
{% block left_css %}
    <link href="{% static 'css/blog/blog-list.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}blog list{% endblock %}

{% block blog_left %}
    <div class="in-left col-md-9 col-12">

        <div class="blog-items d-none d-sm-block">
        {% if query %}
            {% for blog in page.object_list %}
                {% with blog.object as blog %}
                <div class="card {% if not forloop.last %}mb-0{% else %}mb-3{% endif %}">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h5>
                        <p class="card-text">{{ blog.content | slice:"200" | safe }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">
                            <small class="text-muted">
                                <span></span>
                                <span class="glyphicon glyphicon-time"></span>
                                <span>{{ blog.date | date:'Y-m-d H:i' }}&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span>{{ blog.views }}&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                <span>{{ blog.like_num }}&nbsp;&nbsp;</span>
                                <span class="glyphicon glyphicon-comment"></span>
                                <span>{{ blog.comms }}&nbsp;&nbsp;</span>
                                {% for tag in blog.blog_tag.all %}
                                    <span class="glyphicon glyphicon-tag"></span>
                                    <a href="?tag={{ tag }}"><span>{{ tag }}&nbsp;&nbsp;</span></a>
                                {% endfor %}
                            </small>
                        </p>
                    </div>
                </div>
                {% endwith %}
                {% empty %}
            {% endfor %}

        {% else %}
                哇哦，找不着，换个关键词试试~
        {% endif %}
        </div>

        <div class="blog-items d-sm-none">
        {% if query %}
            {% for blog in page.object_list %}
                {% with blog.object as blog %}
                <div class="card {% if not forloop.last %}mb-0{% else %}mb-3{% endif %}">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h5>
                        <p class="card-text">{{ blog.content | slice:"200" | safe }}</p>
                        <div class="dropdown-divider"></div>
                        <p class="card-text">
                            <small class="text-muted">
                                <span class="tag-span">
                                    <span></span>
                                    <span class="glyphicon glyphicon-time"></span>
                                    <span>{{ blog.date | date:'Y-m-d H:i' }}&nbsp;&nbsp;</span>
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <span>{{ blog.views }}&nbsp;&nbsp;</span>
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    <span>{{ blog.like_nums }}&nbsp;&nbsp;</span>
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span>{{ blog.comms }}&nbsp;&nbsp;</span>
                                </span>
                                <span class="tag-span">
                                    {% for tag in blog.blog_tag.all %}
                                        <span class="glyphicon glyphicon-tag"></span>
                                        <a href="?tag={{ tag }}"><span>{{ tag }}&nbsp;&nbsp;</span></a>
                                    {% endfor %}
                                </span>
                            </small>
                        </p>
                    </div>
                </div>
                {% endwith %}
                {% empty %}
            {% endfor %}

        {% else %}
                哇哦，找不着，换个关键词试试~
        {% endif %}
        </div>
        {% if page.has_previous or page.has_next %}
            <nav aria-label="blog pagination" class="mb-4">
                <ul class="pagination justify-content-center">
                    {% if page.has_previous %}
                        <li class="page-item">
                            <a href="?q={{ query }}&page={{ page.previous_page_number }}" class="page-link">< Prev</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">< Prev</span>
                        </li>
                    {% endif %}
                    {% for page_num in paginator.page_range %}
                        {% if page.number == page_num %}
                            <li class="page-item active">
                                <span class="page-link">
                                    {{ page_num }}
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a href="?q={{ query }}&page={{ page_num }}" class="page-link">{{ page_num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page.has_next %}
                        <li class="page-item">
                            <a href="?q={{ query }}&page={{ page.next_page_number }}" class="page-link">Next ></a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next ></span>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}

{% block extend_js %}
    <script src="{% static 'js/blog/blog-list.js' %}"></script>
{% endblock %}




