{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block extend_css %}
    <link href="{% static 'css/blog/blog-right.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap/bootstrap-3.3.7.min.css' %}" rel="stylesheet">
    {% block left_css %}{% endblock %}
{% endblock %}

{% block main %}
    <div class="row">
        {% block blog_left %}{% endblock %}
        <div class="in-right col-md-3 col-xs-12 d-none d-md-block padding-inside-0px">
            <div class="card mb-3">
                <div class="card-body padding-inside-15px">
                    <h5 class="card-title">
                        <span class="glyphicon glyphicon-book"></span>
                        Recommend
                    </h5>
                    <div class="card-text">
                        <p class="p-auto"><a href="#">it's my second blog-site, i will record result of self-study</a></p>
                        <p class="p-auto"><a href="#">my site build in python</a></p>
                    </div>
                    <br>
                    <div class="dropdown-divider"></div>
                    <h5 class="card-title">
                        <span class="glyphicon glyphicon-book"></span>
                        May you like
                    </h5>
                    <div class="card-text">
                        <p class="p-auto"><a href="#">site's front frame use bootstrap 4.0</a></p>
                        <p class="p-auto"><a href="#">site's backend frame use django</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="in-right col-md-3 col-xs-12 d-md-none">
            <div class="card mb-3">
                <div class="card-body padding-inside-15px">
                    <h5 class="card-title">
                        <span class="glyphicon glyphicon-book"></span>
                        Recommend
                    </h5>
                    <div class="card-text">
                        <p class="p-auto"><a href="#">it's my second blog-site, i will record result of self-study</a></p>
                        <p class="p-auto"><a href="#">my site build in python</a></p>
                    </div>
                    <br>
                    <div class="dropdown-divider"></div>
                    <h5 class="card-title">
                        <span class="glyphicon glyphicon-book"></span>
                        May you like
                    </h5>
                    <div class="card-text">
                        <p class="p-auto"><a href="#">site's front frame use bootstrap 4.0</a></p>
                        <p class="p-auto"><a href="#">site's backend frame use django</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extend_js %}{% endblock %}