{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block extend_css %}
    <link href="{% static 'css/blog/blog-right.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap/bootstrap-3.3.7.min.css' %}" rel="stylesheet">
    {% block left_css %}{% endblock %}
{% endblock %}

{% block main %}
    <div class="row">
        {% block blog_left %}{% endblock %}
        <div class="in-right col-md-3 col-xs-12 d-none d-md-block pl-0 pr-0">
            <div class="card mb-3">
                <div class="card-body pl-3 pr-3 ">
                    <h5 class="card-title">
                        <span class="glyphicon glyphicon-book"></span>
                        Latest Blogs
                    </h5>
                    <div class="card-text">
                        {% if latest_blogs %}
                            {% for latest_blog in latest_blogs %}
                                <p class="p-auto"><a
                                        href="{% url 'blog:blog-detail' latest_blog.id %}">{{ latest_blog.title }}</a>
                                </p>
                            {% endfor %}
                        {% else %}
                            <p>No update</p>
                        {% endif %}
                    </div>
                    <div class="dropdown-divider pt-2 pb-2"></div>
                    <h5 class="card-title">
                        <span class="glyphicon glyphicon-book"></span>
                        Recommends
                    </h5>
                    <div class="card-text">
                        {% if recommends %}
                            {% for recommend in recommends %}
                                <p class="p-auto"><a
                                        href="{% url 'blog:blog-detail' recommend.id %}">{{ recommend.title }}</a></p>
                            {% endfor %}
                        {% else %}
                            <p>No recommendation</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="in-right col-md-3 col-xs-12 d-md-none">
            <div class="card mb-3">
                <div class="card-body pl-3 pr-3 ">
                    <h5 class="card-title">
                        <span class="glyphicon glyphicon-book"></span>
                        Latest Blogs
                    </h5>
                    <div class="card-text">
                        {% if latest_blogs %}
                            {% for latest_blog in latest_blogs %}
                                <p class="p-auto"><a
                                        href="{% url 'blog:blog-detail' latest_blog.id %}">{{ latest_blog.title }}</a>
                                </p>
                            {% endfor %}
                        {% else %}
                            <p>No update</p>
                        {% endif %}
                    </div>
                    <div class="dropdown-divider pt-2 pb-2"></div>
                    <h5 class="card-title">
                        <span class="glyphicon glyphicon-book"></span>
                        Recommends
                    </h5>
                    <div class="card-text">
                        {% if recommends %}
                            {% for recommend in recommends %}
                                <p class="p-auto"><a
                                        href="{% url 'blog:blog-detail' recommend.id %}">{{ recommend.title }}</a></p>
                            {% endfor %}
                        {% else %}
                            <p>No recommendation</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extend_js %}{% endblock %}