{% extends 'blog/blog-right.html' %}
{% load staticfiles %}
{% block left_css %}
    <link href="{% static 'css/blog/blog-detail.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/highlight/highlight-9.15.6.min.css' %}">
{% endblock %}

{% block title %}blog detail{% endblock %}

{% block blog_left %}
    <div class="in-left col-md-9 col-12">
        <div class="blog">
            <div class="card-header bg-dark text-white pt-0 pb-0 d-flex justify-content-between">
                <div class="dlh-45">Welcome to correct me</div>
                <div class="dlh-40">
                    <button class="btn btn-outline-success btn-sm my-2 my-sm-0 " type="submit">I wanna
                        share
                    </button>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title blog-title">{{ blog.title }}</h5>
                    <div class="text-muted">
                        <div class="dib-fsm">date：{{ blog.date | date:'Y-m-d H:i' }}&nbsp;&nbsp;</div>
                        <div class="dib-fsm">author：{{ blog.author }}</div>
                    </div>
                    <div class="text-muted">
                        <div class="dib-fsm">tags：
                            {% for tag in blog.blog_tag.all %}
                                <a href="{% url 'blog:blog-list' %}?tag={{ tag }}">{{ tag }}&nbsp;&nbsp;</a>
                            {% endfor %}
                        </div>
                        <div class="dib-fsm">views：{{ blog.views }}&nbsp;&nbsp;</div>
                        <div class="dib-fsm">comms：{{ blog.comms }}&nbsp;&nbsp;</div>
                        <div class="dib-fsm glyphicon glyphicon-thumbs-up"></div>
                    </div>
                    <div class="dropdown-divider"></div>
                    <p class="card-text">
                        {% autoescape off %}
                            {{ blog.content }}
                        {% endautoescape %}
                    </p>
                    <div class="card-text">
                        <div class="card-body pb-0 pt-0 pl-2">
                            <div class="dropdown-divider"></div>
                            <div class="card-text" id="prev_blog">
                                <small class="text-muted">{% if prev_blog %}
                                    <a href="{{ prev_blog.get_absolute_url }}">Prev
                                        blog：{{ prev_blog.title }}</a>{% endif %}</small>
                            </div>
                            <div class="card-text" id="next_blog">
                                <small class="text-muted">{% if next_blog %}
                                    <a href="{{ next_blog.get_absolute_url }}">Next
                                        blog：{{ next_blog.title }}</a>{% endif %}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="comments">
            <div class="card-header bg-dark text-white pt-0 pb-0 d-flex justify-content-between">
                <div class="dlh-45">CommList</div>
                <div class="dlh-40">
                    <button class="btn btn-outline-success btn-sm my-2 my-sm-0 " type="button" id="I-wanna-comm">
                        I wanna comm
                    </button>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body comm-items pb-2">
                    {% for comment in comments %}
                        <div id='root_{{ comment.pk }}' class="comm-item">
                            <span {% ifequal comment.c_user.id blog.author.id %}class="text-danger"{% endifequal %}>{{ comment.c_user.username }}</span>
                            <span>({{ comment.date | date:"Y-m-d H:i" }}):</span>
                            <div id="comment_{{ comment.id }}">{{ comment.content }}&nbsp;&nbsp;&nbsp;&nbsp;<a
                                    href="javascript:reply({{ comment.pk }});">回复</a></div>
                            {% for reply in comment.root_comment.all %}
                                <span class="pl-5 text-muted">-----------------------------------------------</span>
                                <div class="reply pl-5">
                                    <span {% ifequal reply.c_user.id blog.author.id %}class="text-danger"{% endifequal %}>{{ reply.c_user.username }}</span>
                                    <span>({{ comment.date | date:"Y-m-d H:i" }}):</span>
                                    <span>回复</span>
                                    <span {% ifequal reply.r_user.id blog.author.id %}class="text-danger"{% endifequal %}>{{ reply.r_user.username }}</span>
                                    <div id="comment_{{ reply.id }}">{{ reply.content }}&nbsp;&nbsp;&nbsp;&nbsp;<a
                                            href="javascript:reply({{ reply.id }})">回复</a></div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="dropdown-divider"></div>
                    {% empty %}
                        <span id="no_comment">暂无评论</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="comment">
            <form action="{% url 'comment:create-comment' %}" id="comment-form" method="POST">
                {% csrf_token %}
                {% for field in form %}
                    {{ field }}
                {% endfor %}
                <div class="d-flex justify-content-between mr-2">
                    <span id="comment-tips" class="text-danger pull-left"></span>
                    <button type="submit" class="btn btn-dark btn-sm pt-1 pb-1 mt-1 mb-3" id="submit-comment">comm
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extend_js %}
    <script src="{% static 'js/highlight/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad()</script>
    <script src="{% static 'js/blog/blog-detail.js' %}"></script>
    <script>

    </script>
{% endblock %}
