{% load staticfiles %}
{% load humanize %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}AhernBlog{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/icon/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.min.css' %}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
    <!-- others css -->
    <link rel="stylesheet" href="{% static 'assets/css/typography.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/default-css.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <!-- modernizr css -->
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <style>
        .popover-body {
            padding: 0;
        }
    </style>
    {% block extra_css %}{% endblock %}
</head>

<body>
<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
    <!-- sidebar menu area start -->
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <a href="index.html"><img src="{% static 'assets/images/icon/logo.png' %}" alt="logo"></a>
            </div>
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li class="active">
                            <a href="{% url 'blogs:list' %}" aria-expanded="true"><i
                                    class="ti-receipt"></i><span>博客</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- sidebar menu area end -->
    <!-- main content area start -->
    <div class="main-content">
        <!-- header area start -->
        <div class="header-area">
            <div class="row align-items-center">
                <!-- 搜索栏 -->
                <div class="col-md-6 col-sm-8 clearfix">
                    <div class="nav-btn pull-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="search-box pull-left">
                        <form role="search" action="{% url 'haystack_search' %}">
                            <input type="text" name="q" placeholder="Search..." required>
                            <i class="ti-search"></i>
                        </form>
                    </div>
                </div>
                <!-- 个人信息和消息等 -->
                <div class="col-md-6 col-sm-4 clearfix">
                    <ul class="notification-area pull-right">
                        <li id="full-view"><i class="ti-fullscreen"></i></li>
                        <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                        <li class="dropdown">
                            <i class="ti-bell dropdown-toggle" data-toggle="popover" id="notifications"></i>
                        </li>
                        <li class="settings-btn">
                            <i class="ti-settings"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- header area end -->
        <!-- page title area start -->
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    {% block bread_crumbs %}
                    {% endblock %}
                </div>
                <div class="col-sm-6 clearfix">
                    <div class="user-profile pull-right">
                        {% if user.is_authenticated %}
                            <img class="avatar user-thumb" src="{% static 'assets/images/author/avatar.png' %}"
                                 alt="avatar">
                            <h4 class="user-name dropdown-toggle" data-toggle="dropdown">{{ request.user.name }}<i
                                    class="fa fa-angle-down"></i></h4>
                            <div class="dropdown-menu">
                                <a href="{% url 'account_email' %}" class="dropdown-item">Change E-mail</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Sign Out</a>
                            </div>
                        {% else %}
                            <h4 class="user-name"><a href="{% url 'account_login' %}">登 录</a></h4>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- page title area end -->
        <div class="main-content-inner">
            {% if messages %}
                {% for message in messages %}
                    <div id="messages" class="my-1 alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block main %}
            {% endblock %}
        </div>
    </div>
    <!-- main content area end -->
    <!-- footer area start-->
    <footer>
        <div class="footer-area">
            <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
        </div>
    </footer>
    <!-- footer area end-->
</div>
<!-- page container area end -->
<!-- jquery latest version -->
<script src="{% static 'assets/js/vendor/jquery-2.2.4.min.js' %}"></script>
<!-- bootstrap 4 js -->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/metisMenu.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.slicknav.min.js' %}"></script>
<!-- others plugins -->
<script src="{% static 'assets/js/plugins.js' %}"></script>
<script src="{% static 'assets/js/scripts.js' %}"></script>

<script type="text/javascript">
    const currentUser = '{{ request.user.username }}';
</script>

{% block extra_js %}
{% endblock %}
</body>
</html>
