{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block extend_css %}
    <link href="{% static 'css/user/login.css' %}" rel="stylesheet">
{% endblock %}
{% block main %}
    <div class="auth-form px-3" id="login">
        <form action="{% url 'user:user-login' %}" accept-charset="UTF-8" method="post">
            {% csrf_token %}
            <div class="auth-form-header p-0">
                <h1>Sign in to MyBlog</h1>
            </div>
            <div id="js-flash-container">
            </div>
            <div class="auth-form-body mt-3">
                <label for="id_username" class="d-flex">
                    Username or email address
                </label>
                <input type="text" name="username" id="id_username" class="form-control input-block" tabindex="1"
                       autocapitalize="off" autofocus="autofocus">
                <label for="id_password" class="d-flex justify-content-between">
                    <span>Password</span>
                    <a class="label-link" href="/password_reset">Forgot password?</a>
                </label>
                <input type="password" name="password" id="id_password" class="form-control form-control input-block"
                       tabindex="2">
                <input type="submit" name="commit" value="Sign in" tabindex="3" class="btn btn-success btn-block"
                       data-disable-with="Signing in">
            </div>
        </form>
        <p class="create-account mt-3">
            New to MyBlog?
            <a data-ga-click="Sign in, switch to sign up" href="/join?source=login">Create an account</a>.
        </p>
    </div>
{% endblock %}